@using Microsoft.EntityFrameworkCore;

@model HTTPMediaPlayerCore.Models.Course
@{
  ViewBag.Title = "Course";
}
<div class="page-header header-filter header-small" filter-color="purple" data-parallax="true" style="background-image: url('../../img/bg10.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <h2 class="title">@Model.Name</h2>
                <h4>@Model.ShortDescription</h4>
            </div>
        </div>
    </div>
</div>

<div class="main main-raised">
    <div class="cd-section" id="blogs">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto">
                        <h2 class="title"></h2>

                        <br>
                        <div class="card card-plain card-blog">
                            <div class="card-header card-header-image">
                                @*<a href="#pablo">*@
                                <img class="img img-raised" src='@("/Authors/" + Model.AuthorId + "/" + Model.Id +".jpg")'>
                                @*</a>*@
                            </div>
                            <div class="card-body">
                                @*<h6 class="card-category text-info">Fashion</h6>*@
                                @*<h3 class="card-title">
                                        <a href="#pablo">@Model.Name</a>
                                    </h3>*@
                                <div class="blog-post">
                                    <div class="section section-text">
                                        <p>
                                            @Html.Raw(Model.PageText)
                                        </p>
                                    </div>
                                    @if (Model.HasPackages != true)
                                    {
                                        if (Model.HasTrial == true)
                                        {
                                            <a href=@Url.Action("Register", "Account", new { course = Model.UrlName, istrial = 1 }) class="btn btn-primary btn-round"> Попробовать</a>
                                        }
                                        <a href=@Url.Action("Register", "Account", new { course = Model.UrlName }) class="btn btn-primary btn-round"> Купить за @(Model.Price * 1.07) Руб.</a>
                                    }
                                    </div>
                             </div>
                        </div>
                    </div>
                </div>
                @using (HTTPMediaPlayerCore.Models.DuwaysContext db = new HTTPMediaPlayerCore.Models.DuwaysContext(new DbContextOptions<DuwaysContext>() { }))
                {
                    if (Model.HasPackages == true)
                    {
                        List<HTTPMediaPlayerCore.Models.Course> courseList = db.Course.Where(c => c.ParentCourseId == Model.Id).ToList();
               <div class="row">
                    <div class="col-lg-8 col-md-8  ml-auto mr-auto ">
                        <div class="row">
                            @foreach (var item in courseList)
                            {
                            <div class="col-lg-6 col-md-6  ml-auto mr-auto ">
                                <div class="card card-pricing">
                                    <div class="card-body ">
                                        <h6 class="card-category text-success">@item.Name</h6>
                                        <h2 class="card-title">
                                            @(item.Price * 1.07) Руб.
                                        </h2>
                                        @Html.Raw(item.Info)
                                        <a href="@Url.Action("Register", "Account", new { course = item.UrlName })" class="btn btn-primary btn-round">
                                            Купить
                                        </a>
                                    </div>
                                </div>
                            </div>
                            }
                            
                        </div>
                    </div>
                </div>
                    }
                }
                </div>
        </div>
    </div>
</div>

