@using HTTPMediaPlayerCore.Models;
@model LoginModel
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        DUWAYS 
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="http://duways.com" />
    <!--  Social tags      -->
    <meta name="keywords" content="Школа эмиграции, курсы языков, курсы английского, как уехать, обучение, бизнес курсы">
    <meta name="description" content="DU WAYS - это информационно-образовательная платформа, помогающая получить знания и навыки необходимые для эммиграции. Как выучить язык, найти работу, устроить детей в сад или школу, открыть собственный бизнес. Это и многое другое вы узнаете из наших курсов и информационных рассылок.">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="DU WAYS - школа эмиграции">
    <meta itemprop="description" content="DU WAYS - это информационно-образовательная платформа, помогающая получить знания и навыки необходимые для эммиграции. Как выучить язык, найти работу, устроить детей в сад или школу, открыть собственный бизнес. Это и многое другое вы узнаете из наших курсов и информационных рассылок.">
    <meta itemprop="image" content="~/img/duways.jpg">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <!-- CSS Files -->
    @*<link href="~/Content/css/material-kit.min.css?v=2.1.0" rel="stylesheet" />*@
    <link href="~/css/custom.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    @*<link href="~/Content/dashboard/demo/demo.css" rel="stylesheet" />*@
    <link href="~/dashboard/css/material-dashboard.min.css?v=2.0.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    @*<link href="~/Content/demo/demo.css" rel="stylesheet" />*@
    @*<link href="~/Content/demo/vertical-nav.css" rel="stylesheet" />*@
    <style>
        .signup-page .page-header .container {
            padding-top: 0vh !important;
        }

        .navbar {
            color: #fff;
        }

        .card-title {
            font-weight: 700;
            font-family: Roboto Slab,Times New Roman,serif;
        }
    </style>
</head>
<body class="signup-page sidebar-collapse">
    <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    DUWAYS
                </a>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" filter-color="purple" style="background-image: url('../../img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title"></h2>
                </div>
            </div>
            @using (Html.BeginForm("LoginUser", "Account", FormMethod.Post))
            {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-5 ml-auto mr-auto">
                    <div class="card card-signup">
                        <div class="login-box login-loader-bg">
                            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                            <p>
                                Проверка. Пожалуйста, ждите...
                            </p>
                        </div>
                        <h2 class="card-title text-center">Вход</h2>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10 mr-auto ml-auto">
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                </div>
                                                @Html.TextBoxFor(a => a.email, new { @class = "form-control", placeholder = "Email...", id = "email" })
                                                @*<input type="text" class="form-control" placeholder="Name or Email...">*@
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                </div>
                                                @Html.PasswordFor(a => a.password, new { @class = "form-control", placeholder = "Пароль...", id = "password" })
                                            </div>
                                        </div>
                                        
                                        <div class="form-group">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="material-icons">backup</i>
                                                    </span>
                                                </div>
                                                <a style="cursor:pointer;" onclick="Recover('Восстановление пароля')">Восстановить пароль</a>
                                            </div>
                                        </div>

                                        <div class="text-center">
                                            <button value="Login" type="submit" class="btn btn-primary btn-round verify-login">
                                                <i class="ace-icon fa fa-key"></i>
                                                <span class="bigger-110">Войти</span>
                                            </button>
                                        </div>
                                        <div class="space-4"></div>

                                        <div class="error-div" style="display:none;">
                                            <i class="fa fa-warning">&nbsp;</i> <span style="font-size: 0.95em;"></span>
                                        </div>
                                        
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
}

        </div>
    </div>

    <!--   Core JS Files   -->
    <script src="~/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="~/js/plugins/moment.min.js"></script>
    <!--  Plugin for Sweet Alert -->
    <script src="~/js/plugins/sweetalert2.js"></script>
    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
    @*<script src="~/Content/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>*@
    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
    @*<script src="~/Content/js/plugins/nouislider.min.js" type="text/javascript"></script><!--  Google Maps Plugin  -->*@
    @*<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Yno10-YTnLjjn_Vtk0V8cdcY5lC4plU"></script>*@
    <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
    @*<script src="~/Content/js/plugins/bootstrap-tagsinput.js"></script>*@
    <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
    @*<script src="~/Content/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>*@
    <!--	Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
    @*<script src="~/Content/js/plugins/jasny-bootstrap.min.js" type="text/javascript"></script>*@
    <!--	Plugin for Small Gallery in Product Page -->
    @*<script src="~/Content/js/plugins/jquery.flexisel.js" type="text/javascript"></script>*@
    <!-- Plugins for presentation and navigation  -->
    @*<script src="~/Content/demo/modernizr.js" type="text/javascript"></script>*@
    @*<script src="~/Content/demo/vertical-nav.js" type="text/javascript"></script>*@
    <!-- Place this tag in your head or just before your close body tag. -->
    @*<script async defer src="https://buttons.github.io/buttons.js"></script>*@
    <!-- Js With initialisations For Demo Purpose, Don't Include it in Your Project -->
    @*<script src="~/Content/demo/demo.js" type="text/javascript"></script>*@
    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
    <script src="~/js/material-kit.min.js?v=2.1.0" type="text/javascript"></script>
    <script src="~/js/custom.script.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var res = getParameterByName('res', window.location.href);
            if (res == 'loginfailed') {
                $('.error-div > span').text('Неверные логин или пароль.');
                $('.error-div').show();
                var count = 3, speed = 100;
                var fIn = function () { $(this).fadeIn(speed, fOut); };
                var fOut = function () { if (--count > 0) $(this).fadeOut(speed, fIn); };
                $('.error-div').fadeOut(speed, fIn);
            }

            $('.verify-login').click(function () {
                $('.login-loader-bg').show();
                $('.error-div').hide();
            });
        });

        function Recover(msg)
        {
                swal({
                    title: msg,
                    html:
                        @*'<div class="form-group">' +
                        '<img alt="Captcha" src=\"@Url.Action("CaptchaImage")\" style="" />' +
                        '<input id="captcha" type="text" class="form-control" />' +
                        '<input id="captcha" type="text" class="form-control" />' +
                        '</div>'*@
                                     '<div class="row">'+
                                            '<div class="col-sm-3">' +
                                                '<div class="form-group">' +
                                                    'Email' +
                                                '</div>' +
                                            '</div>' +
                                            '<div class="col-sm-7">' +
                                                '<div class="form-group ">' +
                                                    '<input id="emailrec" type="text" class="form-control" />' +
                                                '</div>' +
                                            '</div>' +
                                            '<div class="col-sm-3">' +
                                                '<div class="form-group">'+
                                                    '<img alt="Captcha" src=\"@Url.Action("CaptchaImage")\" style="" />' +
                                                '</div>'+
                                            '</div>'+
                                            '<div class="col-sm-7">'+
                                                '<div class="form-group ">'+
                                                    '<input id="captcha" type="text" class="form-control" />' +
                                                '</div>'+
                                            '</div>'+
                                        '</div>'
                    ,
                    showCancelButton: true,
                    confirmButtonText: 'Восстановить',
                    cancelButtonText: 'Отмена',
                    confirmButtonClass: 'btn btn-success',
                    cancelButtonClass: 'btn btn-danger',
                    buttonsStyling: false
                }).then(function (result) {
                    $('.login-loader-bg').show();
                    RecoverPasswordAjax($('#emailrec').val(), $('#captcha').val());
                    //swal({
                    //    type: 'success',
                    //    html: 'Ссылка отправлена на почту: <strong>' +
                    //        $('#emailrec').val() +
                    //        '</strong>',
                    //    confirmButtonClass: 'btn btn-success',
                    //    buttonsStyling: false

                    //})
                }).catch(swal.noop)

        }

        function RecoverPasswordAjax(emailval, captchaval)
        {
            var model = {
                email: emailval,
                captcha: captchaval
            };

            var regmodel = model;//JSON.stringify(model);

            $.ajax({
                type: "POST",
                url: '@Url.Action("PasswordRecovery", "Account")',
                contentType: "application/x-www-form-urlencoded",
                data: regmodel,
                success: function (result) {
                    if (result.Success) { // this sets the value from the response
                        //if (result.Result == "Activation") {
                        //    var url = "../ru/Activation?user=" + result.userid + "&course=" + result.courseid;
                        //    window.location.href = url;
                        //}
                        //if (result.Result == "Success") {
                        //    var url = "../ru/Success?user=" + result.userid + "&course=" + result.courseid;
                        //    window.location.href = url;
                        //}
                        //if (result.Result == "Purchase") {
                        //    var url = result.redirect;
                        //    url = url.replace(/&amp;/g, '&');
                        //    window.location.href = url;
                        //}
                        //swal("Успешно отправлено!", "Ваш запрос выполнен!", "success");
                        $('.login-loader-bg').hide();
                        swal({
                            type: 'success',
                            html: 'Ссылка отправлена на почту: <strong>' +
                                result.EmailVal +
                                '</strong>',
                            confirmButtonClass: 'btn btn-success',
                            buttonsStyling: false
                        })
                    }
                    else {
                        //$('.login-loader-bg').hide();
                        //$('.error-div span').text(result.Result);
                        //$('.error-div').show();
                        //var count = 3, speed = 100;
                        //var fIn = function () { $(this).fadeIn(speed, fOut); };
                        //var fOut = function () { if (--count > 0) $(this).fadeOut(speed, fIn); };
                        //$('.error-div').fadeOut(speed, fIn);
                        //$('.register-loader-bg').hide();
                        $('.login-loader-bg').hide();
                        swal("Ошибка!", result.Result, "error");
                    }
                },
                error: function (e) {
                    //$('.login-loader-bg').hide();
                    //$('.error-div span').text('Registration error');
                    //$('.error-div').show();
                    //var count = 3, speed = 100;
                    //var fIn = function () { $(this).fadeIn(speed, fOut); };
                    //var fOut = function () { if (--count > 0) $(this).fadeOut(speed, fIn); };
                    //$('.error-div').fadeOut(speed, fIn);
                    //$('.register-loader-bg').hide();
                    $('.login-loader-bg').hide();
                    swal("Ошибка!", "Что-то пошло не так", "error");
                }
            });
        }
    </script>
</body>
</html>

