@using HTTPMediaPlayerCore.Models;
@model UserCourseItem

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        DUWAYS
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="http://duways.com" />
    <!--  Social tags      -->
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="">
    <meta itemprop="description" content="">
    <meta itemprop="image" content="~/img/duwayslogo.png">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/css/material-kit.min.css?v=2.1.0" rel="stylesheet" />

    <style>
        .signup-page .page-header .container {
            padding-top: 0vh !important;
        }

        .signup-page .card-signup {
            padding: 0px !important;
        }
    </style>
</head>
<body class="signup-page sidebar-collapse">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    DUWAYS
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="button-container nav-item iframe-extern">
                        <a href="@Url.Action("Login", "Account")" class="btn  btn-rose btn-primary btn-block">
                            <i class="material-icons">fingerprint</i> Войти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" style="background-image: url('../../img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title"></h2>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-8 ml-auto mr-auto text-center">
                        @if (Model.userid != 0 && Model.courseid != 0)
                        {
                            <h1 class="title">Спасибо! Подписка на @(Model.isbook == 0 ? "курс" : "книгу") успешно оформлена!</h1>
                            <h3><strong>Пожалуйста, @(Model.isbook == 0 ? "войдите в ваш личный кабинет и найдите курс." : "получитe книгу по ссылке в письме или из личного кабинета.")</strong></h3>
                            <h3><strong>@(Model.isbook == 0 ? "Мы рады, что вы развиваетесь вместе с нами!" : "Мы рады, что вы с нами!")</strong></h3>
                        }
                        else
                        {
                            <h1 class="title">Спасибо! Квитанция  @Model.orderid успешно оплачена!</h1>
                            <br />
                            @*<h3><strong>Пожалуйста, @(Model.isbook == 0 ? "войдите в ваш личный кабинет и найдите курс." : "свяжитесь с автором, чтобы получить книгу.")</strong></h3>*@
                            <h3><strong>Мы рады, что вы работаете с нами!</strong></h3>
                        }
                        <br>
                        <p>
                            Возникла проблема? <a class="title" href="mailto:contact@tetragon.solutions">Напишите нам</a>
                        </p>
                        <a href='@(Url.Action("Index", "Home", null, Context.Request.Scheme))' class="btn btn-rose btn-round btn-lg">
                            <i class="material-icons">format_align_left</i> Перейти на главную
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="~/js/material-kit.min.js?v=2.1.0" type="text/javascript"></script>
</body>
</html>


