@using HTTPMediaPlayer.Models;

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/Content/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        @GlobalModel.WebSiteName
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />

    <!-- Extra details for Live View on GitHub Pages -->
    <!-- Canonical SEO -->
    <!-- Canonical SEO -->
    <link rel="canonical" href="http://duways.com" />
    <!--  Social tags      -->
    <meta name="keywords" content="Школа эмиграции, курсы языков, курсы английского, как уехать, обучение, бизнес курсы">
    <meta name="description" content="DU WAYS - это информационно-образовательная платформа, помогающая получить знания и навыки необходимые для эммиграции. Как выучить язык, найти работу, устроить детей в сад или школу, открыть собственный бизнес. Это и многое другое вы узнаете из наших курсов и информационных рассылок.">
    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="DU WAYS - школа эмиграции">
    <meta itemprop="description" content="DU WAYS - это информационно-образовательная платформа, помогающая получить знания и навыки необходимые для эммиграции. Как выучить язык, найти работу, устроить детей в сад или школу, открыть собственный бизнес. Это и многое другое вы узнаете из наших курсов и информационных рассылок.">
    <meta itemprop="image" content="~/Content/img/duways.jpg">

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Content/css/material-kit.min.css?v=2.1.0" rel="stylesheet" />

    <style>
        .signup-page .page-header .container {
            padding-top: 0vh !important;
        }

        .signup-page .card-signup {
            padding: 0px !important;
        }
    </style>
</head>
<body class="signup-page sidebar-collapse">
    <nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="@Url.Action("Index", "ru")">
                    @GlobalModel.WebSiteName
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="button-container nav-item iframe-extern">
                        <a href="@Url.Action("Login", "ru")" class="btn  btn-rose btn-primary btn-block">
                            <i class="material-icons">fingerprint</i> Войти
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-header header-filter" style="background-image: url('../../Content/img/bg7.jpg'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title"></h2>
                </div>
            </div>
            <div class="row">
                       <div class="row">
                            <div class="col-md-8 ml-auto mr-auto text-center">
                                <h1 class="title">Спасибо! Подписка на курс успешно оформлена!</h1>
                                <h3><strong>Пожалуйста, войдите указанный при регистрации почтовый ящик, откройте полученное письмо и перейдите по ссылке для получения доступа к курсу.</strong></h3>
                                <br>
                                <p>
                                    Возникла проблема? <a class="title" href="mailto:pavelkolom@gmail.com">Напишите нам</a>
                                </p>
                                <a href='@(Url.Action("Index", "ru", null, Request.Url.Scheme))' class="btn btn-rose btn-round btn-lg">
                                    <i class="material-icons">format_align_left</i> Перейти на главную
                                </a>
                            </div>
                        </div>
            </div>
        </div>
    </div>

    <script src="~/Content/js/core/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/js/core/popper.min.js" type="text/javascript"></script>
    <script src="~/Content/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
    <script src="~/Content/js/material-kit.min.js?v=2.1.0" type="text/javascript"></script>
</body>
</html>


